body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  padding-top: 5vh;
  font-size: 40px;
  color: rgb(58, 58, 58);
  cursor: default;
}

ul {
  padding-left: 0px;
}

ul li {
  list-style-type: none;
  margin: 15px 0px;
}

ul li:hover {
  color: #0563c1;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

#userinput {
  height: 30px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid gray;
}

#enter {
  height: 34px;
  width: 60px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid gray;
}

#enter:hover {
  cursor: pointer;
}

.list {
  margin: auto;
  text-align: left;
  width: 220px;
}

.btnli {
  float: right;
  width: 50px;
  height: 25px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid gray;
  text-align: center;
  margin-left: 3.5vw;
}

.btnli:hover {
  cursor: pointer;
}
